<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
  <div>
    <div class="container max-w-[800px] mb-10 mt-10">
      <h1 class="text-3xl font-bold mb-4" >Google Maps / Maastokartta converter</h1>
      <p>Create quick links to Finnish Maastokartta map service with google maps shared link or providing latitude and longitude in WGS84 cordinates system.
      WGS84 system is widely used in google maps and in all global map services.<b>This service only works with locations inside Finland</b></p>
      <br>
      <ul class="space-y-1 list-disc list-inside">
        <li>Choose to use either latitude /longitude or google maps link</li>
        <li>Add additional information heading and description</li>
        <li>Hit generate and open or copy the generated link</li>
      </ul>
      <hr class="my-8" />
    </div>
    <div class="container max-w-[800px]">
      <form hx-post="/link-generator" hx-target="#result-input" hx-swap="outerHTML">
        <label class="inline-flex items-center cursor-pointer mb-6">
          <input name="use-google-short-url" type="checkbox" class="sr-only peer">
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use Google Short url</span>
        </label>
        <div id="gmap-short-url" class="flex flex-col mb-4 hidden">
          <label 
            class="text-lg font-medium text-gray-900 mr-4 mb-2">
            Google short url fx.https://maps.app.goo.gl/short_url
          </label>
          <input 
            type="text" 
            name="google-link"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          />
        </div>
        <div id="cordinates-latitude-longitude" class="grid grid-cols-2 gap-8 mb-4">
          <div class="flex flex-col">
            <label 
              class="text-lg font-medium text-gray-900 mb-2">
              Latitude
            </label>
            <input 
              type="text" 
              name="latitude" 
              class="bg-gray-50 border border-gray-300 text-gray-900 w-full text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            />
          </div>
          <div class="flex flex-col">
            <label 
              class="text-lg font-medium text-gray-900 mb-2">
              Longitude
            </label>
            <input 
              type="text" 
              name="longitude"
              class="bg-gray-50 border border-gray-300 text-gray-900 w-full text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            />
          </div>
        </div>
        <div class="mb-4">
          <label class="text-lg font-medium text-gray-900 mb-2">Heading</label>
          <input 
            type="text" 
            name="title" 
            class="bg-gray-50 border border-gray-300 text-gray-900 w-full text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          />
        </div>
        <div>
          <label class="text-lg font-medium text-gray-900 mb-2">Description</label>
          <textarea
            rows="4"
            name="description" 
            class="bg-gray-50 border border-gray-300 text-gray-900 w-full text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          ></textarea>
        </div>
        <button class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Generate</button>
      </form>
    </div>
    <div id="result" class="container my-6 max-w-[800px]">
      <div class="flex">
      <input id="result-input" type="text" class="w-full overflow-hidden border-t border-b border-l block truncate bg-gray-50 p-2 rounded-l-md" value="" />
      <button id="copy-map-link" class="bg-gray-500 hover:bg-gray-700 p-2 border-t border-b border-r text-white px-4">copy</button>
      <button id="open-map-link" class="bg-gray-500 hover:bg-gray-700 p-2 border-t border-b border-r rounded-r-md text-white px-4">open</button>
      </div>
    </div>
    <div id="notice-container" class="hidden text-center w-full container max-w-[800px] rounded-md border py-2 px-4">
      <p id="notice-text"></p>
    </div>
  </div>
</body>
</html>
